@import '../utils.scss';

.links{
    padding-top: 100px;
    font-family: $fontL;
    font-size: 22px;
    width: 14%;

    .link{
        width: 90px;
        text-align: center;
        font-weight: 700;
        margin: 4px 0px;
        padding: 4px 0px;
        margin-left: 20%;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.3s;
        
        &:hover{
            opacity: 0.6;
            background-color: black;
            color: white;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .links {
        display: none;
    }
}